.menu {
    margin: 0 !important;
}

div.menu div.menu {
    max-width: 900px;
    width: 100%;
    margin: auto !important;
}

.container {
    padding: 30px;
    position: relative;
    max-width: 900px;
    width: 100%;
    margin: 0px auto;
}
.wrapper {
    min-height: 100%;
    min-widows: 300px;
    position: relative;
}
.content {
    padding-bottom: 400px;
}
.page {
    display: none;
    padding-right:10px;
    padding-left: 10px;
}
.loadingbar {
    height: 2px;
    position: fixed;
    z-index: 10000;
    top: 0px;
    left: 0px;
    width: 5%;
    background-color: #0097ff;
}

.content {
    max-width: 900px;
    width: 100%;
    margin: auto;
}
div.title {
    padding: 20px 20px 20px 0;
}
.message div {
    display: inline-block;
    vertical-align: top;
}

.message .left {
    max-width: 630px;
    width: 100%;

}

.input, #search-input, #search-input * {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
div.input[contenteditable] {
    height: 300px;
    width: 100%;

    margin: 0em;
    max-width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.2142em;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 0.67861429em 1em;
    background: #ffffff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    -webkit-transition: background-color 0.1s ease, box-shadow 0.1s ease, border-color 0.1s ease;
    transition: background-color 0.1s ease, box-shadow 0.1s ease, border-color 0.1s ease;
    box-shadow: none;
}
.button-container {
    height: 38px;
    width: auto;
}

.page-size {
    padding: 3px 3px 3px 10px;
}

.document-title {
    width: 70%;
}

tr:hover {
    background-color: #f2fffc;
}
.institution, #document-view div.footer {
    display: none;
}
.stdfooter {
    padding-top: 30px;
}